@import 'nib'

html, body
	height: 100%

body
	background: #f3f2ee

.navigation-wrapper
	position: absolute
	top: 0
	height: 100%

.navigation
	background: #454545
	height: 100%
	float: left

	border-left: 1px solid #4f4f4f
	border-right: 1px solid #2e2e2e

	a
		display: block
		padding: 11px 13px
		color: #fff
		border-top: 1px solid #4f4f4f
		border-bottom: 1px solid #2e2e2e

		&:hover, &:focus
			background: rgba(0, 0, 0, 0.2)
			text-decoration: none

		&:active
			background: rgba(0, 0, 0, 0.4)
			box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.6)

		&.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active
			color: #666
			background: rgba(0, 0, 0, 0.1)
			cursor: default
			box-shadow: none

	a.header
		padding-top: 5px
		padding-bottom: 5px

	.line
		border-top: 1px solid #4f4f4f

.navigation-first
	width: 50px

	a
		text-align: center

.navigation-second
	width: 250px

	a.header
		text-align: right

.navigation-third
	width: 375px

	a.header
		text-align: right

.content-wrapper
	position: relative
	z-index: 1
	height: 100%
	background: #f3f2ee
	margin-left: 50px
	transition: margin 0.4s ease-in-out
	overflow-y: scroll

.content
	position: absolute
	width: 100%
	height: 100%

.content-navigation-second
	margin-left: 300px

.content-navigation-third
	margin-left: 675px

.error, .welcome
	font-family: Georgia

.document
	position: relative
	width: 574px
	margin: 0 auto
	padding: 40px 0

#editor
	display: block
	margin: 0 auto
	background: none

.document, .CodeMirror
	font-family: Georgia

	h1, h2, h3, h4, h5, h6 
		font-family: Georgia

.CodeMirror
	height: auto
	background: none

.CodeMirror-scroll
	overflow-y: hidden
	overflow-x: auto

.CodeMirror
	.cm-header
		font-size: 1.5em
		color: #000
