!!!
html(ng-app="mdown")
	head
		title MDOWN

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		link(href="/assets/lib/bootstrap/dist/css/bootstrap.css", rel="stylesheet", type="text/css")
		link(href="/assets/lib/font-awesome/css/font-awesome.css", rel="stylesheet", type="text/css")
		link(href="/assets/lib/angular-snap/angular-snap.css", rel="stylesheet", type="text/css")

		link(href="/assets/lib/codemirror/lib/codemirror.css", rel="stylesheet", type="text/css")

		link(href="/assets/css/app.css", rel="stylesheet", type="text/css")


	body
		block content

		script(src="/assets/lib/underscore/underscore.js")
		script(src="/assets/lib/jquery/jquery.js")
		script(src="/assets/lib/bootstrap/dist/js/bootstrap.js")
		script(src="/assets/lib/angular/angular.js")
		script(src="/assets/lib/angular-ui-router/release/angular-ui-router.js")
		script(src="/assets/lib/mousetrap/mousetrap.js")

		script(src="/assets/lib/ace/src-noconflict/ace.js")
		script(src="/assets/lib/codemirror/lib/codemirror.js")
		script(src="/assets/lib/codemirror/mode/markdown/markdown.js")

		script(src="/assets/js/app.js")

		script(src="/assets/js/commands/abstract/bundle.js")
		script(src="/assets/js/commands/abstract/executor.js")
		script(src="/assets/js/commands/abstract/manager.js")
		script(src="/assets/js/commands/abstract/command.js")

		script(src="/assets/js/commands/document/update.js")

		script(src="/assets/js/services/document.js")
		script(src="/assets/js/services/editor.js")
		script(src="/assets/js/controllers/navigation.js")
		// script(src="/assets/js/controllers/editor.js")
		script(src="/assets/js/controllers/document.js")
		script(src="/assets/js/controllers/document/blank.js")
		script(src="/assets/js/controllers/document/error.js")